// ---------------------------------------------------------------------------------------------------------------------
// Titles Hierarchy
// ---------------------------------------------------------------------------------------------------------------------

%title {
  --fontFamily: var(--heading-font-family);
  --fontFamilyStyle: initial;
  --fontFamilyWeight: var(--heading-font-weight);
  font-family: var(--fontFamily);
  font-style: var(--fontFamilyStyle);
  font-weight: var(--fontFamilyWeight);
  line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  &:not(.heading-reset) {
    @extend %title;
    text-transform: uppercase;
  }
}

%title-h1 {
  font-size: 2.625rem;
  line-height: 2.81rem;
}

h1, .h1 {
    &:not(.heading-reset) {
    @extend %title-h1;

    &:not(.keep-size) {
      @include media-breakpoint-down(lg) {
        font-size: 1.68rem;
        line-height: 1.56rem;
      } 
    }
  }
}

%title-h2 {
  font-size: 1.68rem;
  line-height: 1.56rem;
}

h2, .h2 {
  &:not(.heading-reset) {
    @extend %title-h2;

    &:not(.keep-size) {
      @include media-breakpoint-down(lg) {
        font-size: 1.10rem;
        line-height: 1.1rem;
      } 
    }
  }
}

%title-h3 {
  font-size: 1.09rem;
  line-height: 1.18rem;
}

h3,
.h3 {
  @extend %title-h3;
}

%title-h4 {
  font-size: 1rem;
  line-height: 1rem;
}

h4,
.h4 {
  font-size: 1rem;
  line-height: 1rem;
}

.text--regular {
  font-size: 1rem;
  line-height: 1.18rem;
}

.heading--small {
  font-size: 0.8125rem;
  line-height: 0.8125rem;
}

.heading--small__mobile {
  @include media-breakpoint-down(lg) {
    font-size: 0.8125rem;
    line-height: 0.8125rem;
  }
}

.heading--small__desktop {
  @include media-breakpoint-down(xlg) {
    font-size: 0.8125rem;
    line-height: 0.8125rem;
  }
}

.hero-title {
  font-size: 3.375rem;
  line-height: 3.375rem;
}

strong {
  font-weight: 600;
}